<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogo de Dominó</title>
</head>

<body>
  <h1>Dominó Game</h1>
  <div class="game-area">
    <!-- Área das peças do oponente -->
    <div cdkDropList [cdkDropListData]="player1" class="opponent-pieces" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[doneList]">
      <div class="domino-piece" *ngFor="let piece of player1" cdkDrag [cdkDragData]="piece">
        <div class="top-number">
          <ng-container *ngFor="let dot of [].constructor(piece[0])">
            <div class="dot"></div>
          </ng-container>
        </div>
        <div class="divider"></div>
        <div class="bottom-number">
          <ng-container *ngFor="let dot of [].constructor(piece[1])">
            <div class="dot"></div>
          </ng-container>
        </div>
      </div>
    </div>

<!-- Área de jogo (onde as peças serão colocadas) -->
<div cdkDropList class="play-area" (cdkDropListDropped)="drop($event)" [cdkDropListData]="done" #doneList="cdkDropList">
  <div class="domino-piece" *ngFor="let piece of done" cdkDrag [cdkDragData]="piece">
    <div class="top-number">
      <ng-container *ngFor="let dot of [].constructor(piece[0])">
        <div class="dot"></div>
      </ng-container>
    </div>
    <div class="divider"></div>
    <div class="bottom-number">
      <ng-container *ngFor="let dot of [].constructor(piece[1])">
        <div class="dot"></div>
      </ng-container>
    </div>
  </div>
</div>

    

    <!-- Área das peças do jogador -->
    <div cdkDropList [cdkDropListData]="player2" class="my-pieces" (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[doneList]" >
      <div class="domino-piece" *ngFor="let piece of player2" cdkDrag [cdkDragData]="piece">
        <div class="top-number">
          <ng-container *ngFor="let dot of [].constructor(piece[0])">
            <div class="dot"></div>
          </ng-container>
        </div>
        <div class="divider"></div>
        <div class="bottom-number">
          <ng-container *ngFor="let dot of [].constructor(piece[1])">
            <div class="dot"></div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <!-- PLACAR -->
  </footer>
</body>

</html>
